{{ ansible_managed | comment("c") }}

{% macro quote_when_necessary(v) -%}
{%- if v.startswith('/') -%}"{{ v }}"{%- else -%}{{ v }}{%- endif -%}
{%- endmacro -%}

{%- macro render_single_value(v) -%}
{{- (v.__class__.__name__ == 'bool')
     | ternary(v
         | ternary('yes','no'), quote_when_necessary(v)) -}}
{%- endmacro -%}

{% for zone_name,zone_detail in dns_zones.items() %}
zone "{{ zone_name }}" {
    file "{{ zone_name }}.zone";
{%   for key,value in zone_detail.config.items() %}
{%     if value.__class__.__name__ == 'list' %}
    {{ key }} {
{%       for v in value %}
        {{ render_single_value(v) }};
{%       endfor %}
    };
{%     else %}
    {{ key }} {{ render_single_value(value) }};
{%     endif %}
{%   endfor %}
};

{% endfor %}

{% if dns_use_rfc1918_zones %}
include "/etc/bind/zones.rfc1918";
{% endif %}
