{{ ansible_managed |comment(decoration="; ") }}

$TTL	604800
@	IN	SOA	{{ zone }}. root.{{ zone }}. (
			      9		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )		; Negative Cache TTL
;
@	IN	NS	ns.{{ zone }}.
@	IN	A	{{ ansible_host }}
@	IN	AAAA	::1
ns      IN     A       {{ ansible_host }}

{% for name,attributes in records.items() %}
{{ name }}	IN	{{ attributes.type | upper }}	{{ attributes.host }}
{% endfor %}
